/***********************************************
*	Author:  Shea VanLaningham
*	Website:	http://www.sheavanlaningham.com
***********************************************/

/* index.html styles */
.body a:focus {
	outline: 2px solid blue;
}

/*  Options styles   */
body {
	margin: 0 auto;
	padding: 0;
	overflow-x: hidden;
}

div.body {
	width: 75%;
	margin: 0 auto;
	padding: 0;
}

.marker_options_label {
	display: block;
}

.marker_options_input {
	width: 100%;
	height: 200px;
	font-family: 'Raleway', sans-serif;
	padding: 5px;
}

#save_button {
	position: fixed;
	right: 30px;
	bottom: 50px;
}

#save_button .marker_fun_btn {
	width: 100px;
}

/* Original Page Style Manipulation */
#marker_body_wrap {
	position: absolute;
	right: 0;
	padding-left: 10px;
}

#shim {
 width:2000px;
    height:2000px;
    border: 10px solid transparent;
    position:absolute;
}

#marker_window_resize_msg {
	border: 1px solid #000;
	position: fixed;
	top: 10px;
	display: block;
	left: 300px;
    background-color: #000;
    z-index: 21454122578;
    height: 160px;
    font-family: 'Ubuntu', sans-serif;	
    color: #fff;
	box-shadow: rgb(136, 136, 136) 6px 6px 10px 0px;
	border-radius: 15px;
	font-size: .9em;
    text-align: center;
    width: 300px;
    padding: 5px;
    height: 100px;
    display:none;
}

#marker_window_resize_msg strong {
	display: block;
	padding: 3px;
	width: 100%;
}

/* Content/ <iframe /> styles */

#marker_div_container {
	display:block;
	left: 0;
	top: 0;
	position:fixed;
	width: 278px;
}

#marker_iframe {
	width: 270px;
    height: 100%;
    float: left;
    position: fixed;
    border-top: none;
    border-right: 2px solid #aaa;
    z-index: 2147483646;
    top: 0px;
    left: 0px;
	font-family: 'Raleway', sans-serif;	
	background-color: #fff;
}

/* Font styles */
.marker {
	font-family: 'Raleway', sans-serif;	
}

.instruction {
	font-size: 13px;
	padding: 5px;
	color: #000;
	border-bottom: 1px solid #e9e9e9;
	display:block;
}

h1.marker {
	padding: 2px;
	border-bottom: 1px solid #666;
	text-align: center;
	-webkit-margin-after: 0;
}

h2.marker {
	padding: 2px;
	font-weight: normal;
	text-align: left;
}

label.instruction {
	font-family: 'Ubuntu', sans-serif !important;	
	font-size: 13px !important;
	height: 20px;
	display: inherit;
}

button {
	margin-top: 0 !important;
	vertical-align: initial;
}

/* Welcome text and tips styles */
#marker_welcome_text .expand_collapse {
	font-size: 12px;
	margin-right: 3px;
	display: inline-block;
	font-family: 'Raleway', sans-serif;
}

.welcome {
	font-size: 13px;
	padding: 5px;
	color: #000;
	display: block;
}


/* Actionable options */

#marker_options {
	width: 265px;
	display:block;
	padding: 3px;
	border-top: 2px solid #aaa;
}

.marker_option {
	display: inline-block;
	padding:2px;
}

.marker_option:focus, .marker_option:hover {
	outline: 1px dotted #000;
}


/* Original page injections */
a.marker_page_marker {
	color: #000;
	text-decoration: none;
	z-index: 2147483630;
	transition: all .2s ease-in-out;
}

a.marker_page_marker:hover {
	transform: scale(1.1);
}

.marker_page_marker:before {
	content: attr(data-marker-count);
	border: 2px solid #333;
	background-color: #fff;
	color: #000;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	margin-left: 6px;
	padding: 3px;
}

/* Marker right click note styles */
.marker_context_menu {
	position: absolute;
	border: 2px solid #aaa;
	background-color: #fff;
	padding: 5px;
	display: block;
	z-index: 2147483645;
}

.marker_context_close {
	float:right;
}

.marker_note {
	resize: none;
	height: 174px;
	width: 200px;
	padding: 0;
	vertical-align: inherit;
	font-size: 12px;
}

label.marker {
	font-family: 'Raleway', sans-serif;	
	font-size: 13px !important;
	height: 20px;
	display: inherit;
}

.marker_fun_btn {
  background: #fff;
  border: 2px solid #c00;
  font-family: 'Raleway', sans-serif;
  font-size: 12px !important;
  width: 200px;
  text-align: center;
  color: #c00;
  margin-bottom: 2px;
  margin-top: 2px;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}

.marker_save_note_btn {
	border: 2px solid #000080;
	color: #000080;
	font-weight: bold;
}


/* Marker text and recommendations */
.marker_side_text_container {
	border-top: 2px solid #aaa;
	font-family: 'Ubuntu', sans-serif;
}

.marker_side_text_container a:hover, .marker_side_text_container a:focus {
	outline: 1px dotted #000;
}

.marker_side_text_selection {
	border-bottom: 1px solid #aaa;
	padding: 3px;
}

.marker_side_text_selection h3 {
	font-weight: bold;
	font-size: 13px;
	font-family: 'Ubuntu', sans-serif;
	line-height: 1px;
	display: inline-block;
	margin-top: 7px;
}

.marker_side_text_selection .expand_collapse {
	font-size: 12px;
	float:right;
	margin-right: 3px;
	display: inline;
}

.marker_side_text_selection select {
	display: inline-block;
    height: 28px;
    line-height: 28px;
    border: 1px solid #aaa;
    padding: 4px;
    color: #555;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
}

.marker_side_text_selection .instruction {
	color: #000;
	font-size: 12px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	border-bottom: 0;
}

.marker_ele_type {
	padding-left: 5px;
}

.marker_required:after {
	content: '*';
    color: #c00;
    font-size: 15px;
}

.marker_recommendation {
	font-size: 13px;
}

.marker_recommendation_div {
	margin-top: 5px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 13px;
	padding: 2px;
}

.marker_recommendation_div ol, .marker_recommendation_div ul {
	padding-left: 15px;
}

.marker_recommendation_div a {
	text-decoration: none;
	color: #000080;
}

.marker_recommendation_div a:visited {
	color: #000080;
}

.marker_recommendation_div img {
	vertical-align: sub;
	margin-left: 5px;
}

.marker_recommendation strong {
	margin-top: 3px;
	display:block;
	width: 100%;
	background-color: #e9e9e9;
	font-family: 'Ubuntu', sans-serif;
	padding: 3px;
}

strong.recommendations {
	border-bottom: 2px solid #333;
	width: 100%;
	display: block;
	background-color: #e9e9e9;
}

strong.example {
	border-bottom: 2px solid #480f09;
	width: 100%;
	display: block;
	background-color: #e9e9e9;	
}



strong.aria {
	border-bottom: 2px solid #0d5e05;
	width: 100%;
	display: block;
	background-color: #e9e9e9;
}

.marker_user_note_side {
	display: block;
	font-size: 13px;
	font-family: 'Ubuntu', sans-serif;
}

.marker_user_note_side strong {
	display:block;
	border-bottom: 2px solid #000080;
	font-size: 13px;
	width: 100%;
	background-color: #e9e9e9;
	margin-bottom: 5px;
	padding-left: 3px;

}

.marker-highlight {
	font-weight: bold;
}

.marker_or {
	font-weight: bold;
	display:block;
	margin-top: 3px;
	margin-bottom: 3px;
}

/* Misc. helper styles */

#marker_save_to_pdf {
	width: 100%;
	display:block;
	border: 2px solid #000;
	position:absolute;
	bottom: 0;
}

.screen-reader-only {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow:hidden;
}

/* Results <iframe /> styles */
#marker-print-modal {
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .6;
	position: fixed;
	z-index: 21433235543831;
}

#marker-print-dialog {
	margin: 0px auto;
    width: 500px;
    height: 135px;
    background-color: #fff;
    border: 2px solid #000;
    padding-top: 25px;
    background-color: #fff;
    position: fixed;
    left: 40%;
    top: 10%;
    padding: 25px;
    z-index: 21433235543849;
}

.marker-btn {
	margin-left: 25px;
	border-radius: 3px;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
}


#marker_results_frame {
	display: block;
	background-color: #fff;
	border-top: 3px dashed #000;
	border-left: 3px dashed #666;
	padding: 5px;
	z-index: 21433235543849;
}

#body_shim {
	position: absolute;
	bottom: 0;
	height: 200px;
	width: 100%;
	display:block;
}

.rectangle {
    border: 2px solid #FF0000;
    position: absolute;
    z-index: 2147483635;
    position: absolute !important;
}

@media print {
   #marker_iframe {
   	display:none;
   }

   #marker_body_wrap {
   	width: 50%;
   }
}
