/***********************************************
*	Author:  Shea VanLaningham
*	Website:	http://www.sheavanlaningham.com
***********************************************/

/* index.html styles */
.body a:focus {
	outline: 2px solid blue;
}

/*  Options styles   */
body {
	margin: 0 auto;
	padding: 0;
}

div.body {
	width: 75%;
	margin: 0 auto;
	padding: 0;
}


/* Original Page Style Manipulation */
.marker_body_wrap {
	position: absolute;
	right: 0;
}

.shim {
	height: 100%;
	width: 100%;
	position:absolute;
}

/* Content/ <iframe /> styles */
.marker {
	font-family: 'Raleway', sans-serif !important;	
}

.instruction {
	font-size: 12px;
	padding: 5px;
	color: #888;
	border-bottom: 1px solid #e9e9e9;
	display:block;
}

.welcome {
	font-size: 13px;
	padding: 5px;
	color: #000;
	display: block;
}

h1 {
	padding: 2px;
	border-bottom: 1px solid #666;
	text-align: center;
	-webkit-margin-after: 0;
}

h2 {
	padding: 2px;
	font-weight: normal;
}

label {
	font-family: 'Raleway', sans-serif !important;	
	font-size: 13px !important;
	height: 20px;
	display: inherit;
}

button {
	margin-top: 0 !important;
	vertical-align: initial;
}

#marker_div_container {
	z-index: 2147483647;

}

#marker_iframe {
	width: 270px;
    height: 100%;
    float: left;
    position: fixed;
    border-top: none;
    border-right: 2px solid #aaa;
    z-index: 2147483646;
    top: 0px;
    left: 0px;
	font-family: 'Raleway', sans-serif;	
	background-color: #fff;
}

#marker_options {
	width: 259px;
	display:block;
	margin-top: 5px;
	padding: 3px;
	border-top: 2px solid #aaa;
}

.marker_option {
	display: inline-block;
	padding:2px;
}

.marker_option:focus, .marker_option:hover {
	outline: 1px dotted #000;
}

a.marker_page_marker {
	color: #000;
	text-decoration: none;
	z-index: 2147483645;
	transition: all .2s ease-in-out;
}

a.marker_page_marker:hover {
	transform: scale(1.1);
}

.marker_required:after {
	content: '*';
	color: #c00;
	font-size: 36px;
    vertical-align: -webkit-baseline-middle;
}

.marker_page_marker:after {
	display: inline;
	height: 15px;
	padding: 3px;
	content: attr(data-marker-count);
	border: 2px solid #666;
	background-color: #fff;
	color: #000;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
}

.marker_side_text_container {
	border-top: 2px solid #aaa;
}

.marker_recommendation {
	font-size: 12px;
}

.marker_side_text_selection {
	border-bottom: 1px solid #aaa;
	padding: 3px;
}

.marker_side_text_selection h3 {
	font-weight: bold;
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
	line-height: 1px;
}

.marker_side_text_selection select {
	display: inline-block;
    height: 28px;
    line-height: 28px;
    border: 1px solid #aaa;
    padding: 4px;
    color: #555;
}

.marker_side_text_selection .instruction {
	color: #666;
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
	border-bottom: 0;
}

.marker_context_menu {
	position: absolute;
	border: 2px solid #aaa;
	background-color: #fff;
	padding: 5px;
	display: block;
	z-index: 2147483645;
}

.marker_context_close {
	float:right;
}

.marker_note {
	resize: none;
	height: 174px;
	width: 200px;
	padding: 0;
	vertical-align: inherit;
	font-size: 12px;
}

.marker_user_note_side {
	display: block;
	font-size: 12px;
}

.marker_fun_btn {
  background: #fff;
  border: 2px solid #c00;
  font-family: 'Raleway', sans-serif;
  font-size: 12px !important;
  width: 200px;
  text-align: center;
  color: #c00;
  margin-bottom: 2px;
  margin-top: 2px;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}

.marker_save_note_btn {
	border: 2px solid green;
	color: green;
}

.screen-reader-only {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow:hidden;
}

