/***********************************************
*	Author:  Shea VanLaningham
*	Website:	http://www.sheavanlaningham.com
***********************************************/

/* index.html styles */
.body a:focus {
	outline: 2px solid blue;
}

/*  Options styles   */
body {
	margin: 0 auto;
	padding: 0;
	overflow-x: hidden;
}

div.body {
	width: 75%;
	margin: 0 auto;
	padding: 0;
}

.marker_options_label {
	display: block;
}

.marker_options_input {
	width: 800px;
	height: 200px;
	font-family: 'Raleway', sans-serif;
	padding: 5px;
}

/* Original Page Style Manipulation */
.marker_body_wrap {
	position: absolute;
	right: 0;
}

.shim {
	height: 100%;
	width: 100%;
	position:absolute;
}

/* Content/ <iframe /> styles */

#marker_iframe {
	width: 270px;
    height: 100%;
    float: left;
    position: fixed;
    border-top: none;
    border-right: 2px solid #aaa;
    z-index: 2147483646;
    top: 0px;
    left: 0px;
	font-family: 'Raleway', sans-serif;	
	background-color: #fff;
}

/* Font styles */
.marker {
	font-family: 'Raleway', sans-serif;	
}

.instruction {
	font-size: 13px;
	padding: 5px;
	color: #000;
	border-bottom: 1px solid #e9e9e9;
	display:block;
}

h1.marker {
	padding: 2px;
	border-bottom: 1px solid #666;
	text-align: center;
	-webkit-margin-after: 0;
}

h2.marker {
	padding: 2px;
	font-weight: normal;
}

label.instruction {
	font-family: 'Ubuntu', sans-serif !important;	
	font-size: 13px !important;
	height: 20px;
	display: inherit;
}

button {
	margin-top: 0 !important;
	vertical-align: initial;
}

/* Welcome text and tips styles */
#marker_welcome_text .expand_collapse {
	font-size: 12px;
	margin-right: 3px;
	display: inline-block;
	font-family: 'Raleway', sans-serif;
}

.welcome {
	font-size: 13px;
	padding: 5px;
	color: #000;
	display: block;
}


/* Actionable options */

#marker_options {
	width: 265px;
	display:block;
	padding: 3px;
	border-top: 2px solid #aaa;
}

.marker_option {
	display: inline-block;
	padding:2px;
}

.marker_option:focus, .marker_option:hover {
	outline: 1px dotted #000;
}


/* Original page injections */
a.marker_page_marker {
	color: #000;
	text-decoration: none;
	z-index: 2147483645;
	transition: all .2s ease-in-out;
}

a.marker_page_marker:hover {
	transform: scale(1.1);
}

.marker_page_marker:before {
	content: attr(data-marker-count);
	border: 2px solid #333;
	background-color: #fff;
	color: #000;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	margin-left: 6px;
	padding: 3px;
}

/* Marker right click note styles */
.marker_context_menu {
	position: absolute;
	border: 2px solid #aaa;
	background-color: #fff;
	padding: 5px;
	display: block;
	z-index: 2147483645;
}

.marker_context_close {
	float:right;
}

.marker_note {
	resize: none;
	height: 174px;
	width: 200px;
	padding: 0;
	vertical-align: inherit;
	font-size: 12px;
}

label.marker {
	font-family: 'Raleway', sans-serif;	
	font-size: 13px !important;
	height: 20px;
	display: inherit;
}

.marker_fun_btn {
  background: #fff;
  border: 2px solid #c00;
  font-family: 'Raleway', sans-serif;
  font-size: 12px !important;
  width: 200px;
  text-align: center;
  color: #c00;
  margin-bottom: 2px;
  margin-top: 2px;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}

.marker_save_note_btn {
	border: 2px solid #000080;
	color: #000080;
	font-weight: bold;
}


/* Marker text and recommendations */
.marker_side_text_container {
	border-top: 2px solid #aaa;
	font-family: 'Ubuntu', sans-serif;
}

.marker_side_text_container a:hover, .marker_side_text_container a:focus {
	outline: 1px dotted #000;
}

.marker_side_text_selection {
	border-bottom: 1px solid #aaa;
	padding: 3px;
}

.marker_side_text_selection h3 {
	font-weight: bold;
	font-size: 13px;
	font-family: 'Ubuntu', sans-serif;
	line-height: 1px;
	display: inline-block;
	margin-top: 7px;
}

.marker_side_text_selection .expand_collapse {
	font-size: 12px;
	float:right;
	margin-right: 3px;
	display: inline;
}

.marker_side_text_selection select {
	display: inline-block;
    height: 28px;
    line-height: 28px;
    border: 1px solid #aaa;
    padding: 4px;
    color: #555;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
}

.marker_side_text_selection .instruction {
	color: #000;
	font-size: 12px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	border-bottom: 0;
}

.marker_ele_type {
	padding-left: 5px;
}

.marker_required:after {
	content: '*';
    color: #c00;
    font-size: 15px;
}

.marker_recommendation {
	font-size: 13px;
}

.marker_recommendation_div {
	margin-top: 5px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 13px;
	padding: 2px;
}

.marker_recommendation_div ol, .marker_recommendation_div ul {
	padding-left: 15px;
}

.marker_recommendation_div a {
	text-decoration: none;
	color: #000080;
}

.marker_recommendation_div a:visited {
	color: #000080;
}

.marker_recommendation_div img {
	vertical-align: sub;
	margin-left: 5px;
}

.marker_recommendation strong {
	margin-top: 3px;
	display:block;
	width: 100%;
	background-color: #e9e9e9;
	font-family: 'Ubuntu', sans-serif;
	padding: 3px;
}

strong.recommendations {
	border-bottom: 2px solid #333;
	width: 100%;
	display: block;
	background-color: #e9e9e9;
}

strong.example {
	border-bottom: 2px solid #480f09;
	width: 100%;
	display: block;
	background-color: #e9e9e9;	
}



strong.aria {
	border-bottom: 2px solid #0d5e05;
	width: 100%;
	display: block;
	background-color: #e9e9e9;
}

.marker_user_note_side {
	display: block;
	font-size: 13px;
	font-family: 'Ubuntu', sans-serif;
}

.marker_user_note_side strong {
	display:block;
	border-bottom: 2px solid #000080;
	font-size: 13px;
	width: 100%;
	background-color: #e9e9e9;
	margin-bottom: 5px;
	padding-left: 3px;

}

.marker-highlight {
	font-weight: bold;
}

.marker_or {
	font-weight: bold;
	display:block;
	margin-top: 3px;
	margin-bottom: 3px;
}

/* Misc. helper styles */

#marker_save_to_pdf {
	width: 100%;
	display:block;
	border: 2px solid #000;
	position:absolute;
	bottom: 0;
}

.screen-reader-only {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow:hidden;
}